<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guofen.dao.ShljBottleCorrodibleSortingStatisticMapper">
  <resultMap id="BaseResultMap" type="com.guofen.pojo.ShljBottleCorrodibleSortingStatistic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, weight, operator, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shlj_bottle_corrodible_sorting_statistic
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shlj_bottle_corrodible_sorting_statistic
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guofen.pojo.ShljBottleCorrodibleSortingStatistic">
    insert into shlj_bottle_corrodible_sorting_statistic (id, date, weight, 
      operator, remarks)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, #{weight,jdbcType=DOUBLE}, 
      #{operator,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guofen.pojo.ShljBottleCorrodibleSortingStatistic">
    insert into shlj_bottle_corrodible_sorting_statistic
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guofen.pojo.ShljBottleCorrodibleSortingStatistic">
    update shlj_bottle_corrodible_sorting_statistic
    <set>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guofen.pojo.ShljBottleCorrodibleSortingStatistic">
    update shlj_bottle_corrodible_sorting_statistic
    set date = #{date,jdbcType=VARCHAR},
      weight = #{weight,jdbcType=DOUBLE},
      operator = #{operator,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="findLast" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from shlj_bottle_corrodible_sorting_statistic
    where id=(select max(id) from shlj_bottle_corrodible_sorting_statistic)
  </select>
</mapper>