<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guofen.dao.SjqSolidliquidProduceElectricityMapper">
  <resultMap id="BaseResultMap" type="com.guofen.pojo.SjqSolidliquidProduceElectricity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="reading_time" jdbcType="VARCHAR" property="readingTime" />
    <result column="reading" jdbcType="DOUBLE" property="reading" />
    <result column="reader" jdbcType="VARCHAR" property="reader" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, reading_time, reading, reader, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sjq_solidliquid_produce_electricity
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getLast" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sjq_solidliquid_produce_electricity
    where DATE(DATE) = DATE(NOW())
    order by date desc
    limit 1
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sjq_solidliquid_produce_electricity
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guofen.pojo.SjqSolidliquidProduceElectricity">
    insert into sjq_solidliquid_produce_electricity (id, date, reading_time, 
      reading, reader, remarks
      )
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, #{readingTime,jdbcType=VARCHAR}, 
      #{reading,jdbcType=DOUBLE}, #{reader,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.guofen.pojo.SjqSolidliquidProduceElectricity">
    insert into sjq_solidliquid_produce_electricity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="readingTime != null">
        reading_time,
      </if>
      <if test="reading != null">
        reading,
      </if>
      <if test="reader != null">
        reader,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="readingTime != null">
        #{readingTime,jdbcType=VARCHAR},
      </if>
      <if test="reading != null">
        #{reading,jdbcType=DOUBLE},
      </if>
      <if test="reader != null">
        #{reader,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guofen.pojo.SjqSolidliquidProduceElectricity">
    update sjq_solidliquid_produce_electricity
    <set>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="readingTime != null">
        reading_time = #{readingTime,jdbcType=VARCHAR},
      </if>
      <if test="reading != null">
        reading = #{reading,jdbcType=DOUBLE},
      </if>
      <if test="reader != null">
        reader = #{reader,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guofen.pojo.SjqSolidliquidProduceElectricity">
    update sjq_solidliquid_produce_electricity
    set date = #{date,jdbcType=VARCHAR},
      reading_time = #{readingTime,jdbcType=VARCHAR},
      reading = #{reading,jdbcType=DOUBLE},
      reader = #{reader,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>