<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guofen.dao.SjqSolidliquidProduceInspectionEquipmentMapper">
  <resultMap id="BaseResultMap" type="com.guofen.pojo.SjqSolidliquidProduceInspectionEquipment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="detail" jdbcType="VARCHAR" property="detail" />
    <result column="is_normal" jdbcType="BIT" property="isNormal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, detail, is_normal
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sjq_solidliquid_produce_inspection_equipment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="getLast" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sjq_solidliquid_produce_inspection_equipment
    where DATE(DATE) = DATE(NOW())
    order by date desc
    limit 1
  </select>
  <select id="getlist" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sjq_solidliquid_produce_inspection_equipment
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sjq_solidliquid_produce_inspection_equipment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guofen.pojo.SjqSolidliquidProduceInspectionEquipment">
    insert into sjq_solidliquid_produce_inspection_equipment (id, name, detail, 
      is_normal)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{detail,jdbcType=VARCHAR}, 
      #{isNormal,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.guofen.pojo.SjqSolidliquidProduceInspectionEquipment">
    insert into sjq_solidliquid_produce_inspection_equipment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="detail != null">
        detail,
      </if>
      <if test="isNormal != null">
        is_normal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        #{detail,jdbcType=VARCHAR},
      </if>
      <if test="isNormal != null">
        #{isNormal,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guofen.pojo.SjqSolidliquidProduceInspectionEquipment">
    update sjq_solidliquid_produce_inspection_equipment
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="detail != null">
        detail = #{detail,jdbcType=VARCHAR},
      </if>
      <if test="isNormal != null">
        is_normal = #{isNormal,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guofen.pojo.SjqSolidliquidProduceInspectionEquipment">
    update sjq_solidliquid_produce_inspection_equipment
    set name = #{name,jdbcType=VARCHAR},
      detail = #{detail,jdbcType=VARCHAR},
      is_normal = #{isNormal,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>