<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guofen.dao.SjqWaterProductionEquipmentRunningMapper">
  <resultMap id="BaseResultMap" type="com.guofen.pojo.SjqWaterProductionEquipmentRunning">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="date" jdbcType="VARCHAR" property="date" />
    <result column="pump_pressure_1" jdbcType="DOUBLE" property="pumpPressure1" />
    <result column="pump_pressure_2" jdbcType="DOUBLE" property="pumpPressure2" />
    <result column="pump_pressure_3" jdbcType="DOUBLE" property="pumpPressure3" />
    <result column="fan_frequency_1" jdbcType="DOUBLE" property="fanFrequency1" />
    <result column="fan_frequency_2" jdbcType="DOUBLE" property="fanFrequency2" />
    <result column="operator" jdbcType="VARCHAR" property="operator" />
    <result column="examiner" jdbcType="VARCHAR" property="examiner" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  <sql id="Base_Column_List">
    id, date, pump_pressure_1, pump_pressure_2, pump_pressure_3, fan_frequency_1, fan_frequency_2, 
    operator, examiner, remarks
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sjq_water_production_equipment_running
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sjq_water_production_equipment_running
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.guofen.pojo.SjqWaterProductionEquipmentRunning">
    insert into sjq_water_production_equipment_running (id, date, pump_pressure_1, 
      pump_pressure_2, pump_pressure_3, fan_frequency_1, 
      fan_frequency_2, operator, examiner, 
      remarks)
    values (#{id,jdbcType=INTEGER}, #{date,jdbcType=VARCHAR}, #{pumpPressure1,jdbcType=DOUBLE}, 
      #{pumpPressure2,jdbcType=DOUBLE}, #{pumpPressure3,jdbcType=DOUBLE}, #{fanFrequency1,jdbcType=DOUBLE}, 
      #{fanFrequency2,jdbcType=DOUBLE}, #{operator,jdbcType=VARCHAR}, #{examiner,jdbcType=VARCHAR}, 
      #{remarks,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.guofen.pojo.SjqWaterProductionEquipmentRunning">
    insert into sjq_water_production_equipment_running
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="pumpPressure1 != null">
        pump_pressure_1,
      </if>
      <if test="pumpPressure2 != null">
        pump_pressure_2,
      </if>
      <if test="pumpPressure3 != null">
        pump_pressure_3,
      </if>
      <if test="fanFrequency1 != null">
        fan_frequency_1,
      </if>
      <if test="fanFrequency2 != null">
        fan_frequency_2,
      </if>
      <if test="operator != null">
        operator,
      </if>
      <if test="examiner != null">
        examiner,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=VARCHAR},
      </if>
      <if test="pumpPressure1 != null">
        #{pumpPressure1,jdbcType=DOUBLE},
      </if>
      <if test="pumpPressure2 != null">
        #{pumpPressure2,jdbcType=DOUBLE},
      </if>
      <if test="pumpPressure3 != null">
        #{pumpPressure3,jdbcType=DOUBLE},
      </if>
      <if test="fanFrequency1 != null">
        #{fanFrequency1,jdbcType=DOUBLE},
      </if>
      <if test="fanFrequency2 != null">
        #{fanFrequency2,jdbcType=DOUBLE},
      </if>
      <if test="operator != null">
        #{operator,jdbcType=VARCHAR},
      </if>
      <if test="examiner != null">
        #{examiner,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.guofen.pojo.SjqWaterProductionEquipmentRunning">
    update sjq_water_production_equipment_running
    <set>
      <if test="date != null">
        date = #{date,jdbcType=VARCHAR},
      </if>
      <if test="pumpPressure1 != null">
        pump_pressure_1 = #{pumpPressure1,jdbcType=DOUBLE},
      </if>
      <if test="pumpPressure2 != null">
        pump_pressure_2 = #{pumpPressure2,jdbcType=DOUBLE},
      </if>
      <if test="pumpPressure3 != null">
        pump_pressure_3 = #{pumpPressure3,jdbcType=DOUBLE},
      </if>
      <if test="fanFrequency1 != null">
        fan_frequency_1 = #{fanFrequency1,jdbcType=DOUBLE},
      </if>
      <if test="fanFrequency2 != null">
        fan_frequency_2 = #{fanFrequency2,jdbcType=DOUBLE},
      </if>
      <if test="operator != null">
        operator = #{operator,jdbcType=VARCHAR},
      </if>
      <if test="examiner != null">
        examiner = #{examiner,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.guofen.pojo.SjqWaterProductionEquipmentRunning">
    update sjq_water_production_equipment_running
    set date = #{date,jdbcType=VARCHAR},
      pump_pressure_1 = #{pumpPressure1,jdbcType=DOUBLE},
      pump_pressure_2 = #{pumpPressure2,jdbcType=DOUBLE},
      pump_pressure_3 = #{pumpPressure3,jdbcType=DOUBLE},
      fan_frequency_1 = #{fanFrequency1,jdbcType=DOUBLE},
      fan_frequency_2 = #{fanFrequency2,jdbcType=DOUBLE},
      operator = #{operator,jdbcType=VARCHAR},
      examiner = #{examiner,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>